body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(memes/background.jpg)center/cover no-repeat;
}

.images {
    background: yellow;
    flex: 0 0 80%;
    min-height: 70vh;
    background: url(memes/bcg-0.jpg)center/cover no-repeat;
    border-radius: 15px;
}